@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", cursive;
}

.text-xl {
  font-size: 32px;
}
.text-lg {
  font-size: 24px;
}
.text-md {
  font-size: 18px;
}
.text-sm {
  font-size: 14px;
}
.text-xs {
  font-size: 12px;
}
.text-red {
  color: #a00a0b;
}
.text-white {
  color: #ffffff;
}
.text-black {
  color: black;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400;
  line-height: 1.5;
}

.img__fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.bg-property {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-decoration: none;
  border-radius: 0px;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
  font-size: 18px;
}
.button--red {
  background-color: #a00a0b;
  border: 1px solid #a00a0b;
  color: white;
}
.button i {
  font-size: 14px;
  margin-left: 10px;
}
.button:hover {
  color: #a00a0b;
  background-color: transparent;
  border-color: #a00a0b;
}
.button--square {
  width: 50px;
  padding: 0 !important;
  flex-shrink: 0;
  border-radius: 0px;
}
.button--square i {
  margin: 0;
  padding: 0;
}

.text__link {
  font-size: 18px;
  color: #a00a0b;
  margin-bottom: 0;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}
.text__link i {
  font-size: 13px;
  margin-left: 5px;
}
.text__link:hover {
  color: #a00a0b;
  text-decoration: underline;
}

.form-control {
  min-height: 50px;
  border-radius: 0px;
  background-color: white;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none !important;
  font-size: 18px;
}
.form-control::placeholder {
  color: #777;
}
.form-control:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form-check-input {
  height: 25px;
  width: 25px;
  border-radius: 0px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none !important;
  border-radius: 0px !important;
}
.form-check-input:checked {
  border: 1px solid #a00a0b;
  background-color: #a00a0b;
}

.form-range::-webkit-slider-thumb {
  background-color: #a00a0b;
  box-shadow: none !important;
}
.form-range:active::-webkit-slider-thumb {
  background-color: #a00a0b;
  box-shadow: none !important;
}
.form-range::-webkit-slider-runnable-track {
  background-color: #f6f6f4;
}

label {
  font-size: 18px;
  color: black;
  margin-bottom: 5px;
}

.section-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.section-heading__title {
  font-size: 32px;
  color: black;
  margin-bottom: 0;
}
.section-heading__link {
  font-size: 18px;
  color: #a00a0b;
  margin-bottom: 0;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
}
.section-heading__link i {
  font-size: 13px;
  margin-left: 5px;
}
.section-heading__link:hover {
  color: #a00a0b;
  text-decoration: underline;
}
.section-heading__description {
  font-size: 18px;
  color: black;
}
.section-heading__sub--title {
  font-size: 18px;
  color: #a00a0b;
  margin-bottom: 0;
  font-weight: 600;
}

.collection-card {
  display: block;
  width: 100%;
  text-decoration: none;
  position: relative;
  margin-bottom: 60px;
  cursor: pointer;
}
.collection-card__image {
  height: 260px;
  width: 100%;
  border-radius: 0px;
}
.collection-card__detail {
  position: absolute;
  width: 90%;
  text-align: center;
  background-color: white;
  padding: 10px;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.collection-card__title {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}
.collection-card__count {
  font-size: 18px;
  color: #777;
  margin-bottom: 0;
  font-weight: 600;
}
.collection-card:hover .collection-card__title {
  color: #a00a0b;
}

.product-card {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.product-card__image {
  height: 340px;
  width: 100%;
  display: block;
  border-radius: 0px;
  margin-bottom: 20px;
}
.product-card__title {
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
}
.product-card__title:hover {
  color: #a00a0b;
}
.product-card__price {
  margin-bottom: 0;
}
.product-card__price .actual-price {
  color: #a00a0b;
  font-weight: 600;
}
.product-card__price .marked-price {
  color: #777;
  font-size: 15px;
  text-decoration: line-through;
}
.product-card a {
  text-decoration: none;
}

.blog-card {
  position: relative;
  background-color: #f6f6f4;
}
.blog-card__image {
  height: 260px;
  width: 100%;
  border-radius: 0px;
  display: block;
}
.blog-card__detail {
  padding: 15px;
}
.blog-card__date {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}
.blog-card__title {
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-card__link {
  font-size: 18px;
  font-weight: 600;
  color: #a00a0b;
  display: inline-block;
}
.blog-card__link i {
  font-size: 13px;
}
.blog-card__link :hover {
  text-decoration: underline;
  color: #a00a0b;
}
.blog-card a {
  text-decoration: none;
}

.service-section {
  margin: 40px 0 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.service-section .service-item {
  display: flex;
}
.service-section .service-item__image {
  flex-shrink: 0;
}
.service-section .service-item__image img {
  height: 64px;
  width: 64px;
}
.service-section .service-item__title {
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
}
.service-section .service-item__description {
  font-size: 16px;
  color: #777;
  margin-bottom: 0;
}

.search-modal {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  position: relative;
}
.search-modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-modal__header .modal-close__button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.075);
  background-color: #ffffff;
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 30px;
}
.search-modal__body {
  padding: 20px 0;
  width: 100%;
}
.search-modal__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.search-modal .trending-keywords {
  margin-bottom: 40px;
}
.search-modal .trending-keywords__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.search-modal .trending-keywords__link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  background-color: #f6f6f4;
  color: #a00a0b;
  margin-right: 20px;
  margin-bottom: 5px;
}
.search-modal .trending-keywords__link:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  text-decoration: underline;
}
.search-modal .trending-keywords__link i {
  font-size: 16px;
  margin-right: 5px;
}

.square--arrows .slick-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.square--arrows .slick-arrow::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.square--arrows .slick-arrow.slick-prev {
  content: "\f054";
  left: 0%;
}
.square--arrows .slick-arrow.slick-next {
  content: "\f053";
  right: 0%;
}
.square--arrows .slick-arrow.slick-disabled {
  opacity: 0.1;
  cursor: not-allowed;
}
.square--red .slick-arrow {
  background-color: #a00a0b;
}
.square--red .slick-arrow::before {
  color: #ffffff;
}
.square--red .slick-arrow:hover::before {
  color: #ffffff;
}

.visible--dots .slick-dots li {
  width: auto;
  margin: 0 3px;
}
.visible--dots .slick-dots li button {
  height: 8px;
  width: 8px;
  background-color: #a00a0b;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  opacity: 0.4;
}
.visible--dots .slick-dots li button::before {
  display: none;
}
.visible--dots .slick-dots li.slick-active button {
  width: 24px;
  opacity: 1;
}

.search-result__form {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-result__title {
  font-size: 20px;
  color: black;
  margin-bottom: 0;
}

.main-filter__by {
  margin-bottom: 30px;
}
.main-filter__title {
  font-size: 24px;
  color: black;
  margin-bottom: 20px;
}
.main-filter li:nth-child(n+11) {
  display: none;
}
.main-filter__options-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-filter__option {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.main-filter__option .form-check-input {
  position: relative;
  margin: 0;
  margin-right: 10px;
}
.main-filter__option .form-check-input:checked ~ label {
  color: #a00a0b;
}
.main-filter__option label {
  font-size: 18px;
  color: black;
  margin-bottom: 0 !important;
}
.main-filter__option label .review__stars i {
  font-size: 18px;
  color: #777;
}
.main-filter__option label .review__stars i.is-active {
  color: #eb7700;
}
.main-filter--price .price-range {
  margin-bottom: 10px;
}
.main-filter--price .price-range .start-range {
  color: #a00a0b;
  font-size: 18px;
  font-weight: 600;
}
.main-filter--price .price-range .end-range {
  color: #a00a0b;
  font-size: 18px;
  font-weight: 600;
}

.product-list__wrapper {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-list__item:nth-child(n) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.product-list__item:last-child {
  border-bottom: none;
}
.product-list__item .product__image {
  height: 300px;
  width: 100%;
  display: block;
  border-radius: 0px;
}
.product-list__item .product__name {
  font-size: 24px;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-list__item .product__name:hover {
  color: #a00a0b;
}
.product-list__item .product__price {
  margin-bottom: 20px;
}
.product-list__item .product__price .actual__price {
  font-size: 24px;
  color: #a00a0b;
}
.product-list__item .product__price .marked__price {
  font-size: 18px;
  color: #777;
  text-decoration: line-through;
}
.product-list__item .product__description {
  font-size: 18px;
  margin-bottom: 10px;
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-list__item .product__review {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product-list__item .product__review .review__stars i {
  font-size: 18px;
  color: #777;
}
.product-list__item .product__review .review__stars i.is-active {
  color: #eb7700;
}
.product-list__item .product__review .review__count {
  margin-left: 10px;
  font-size: 18px;
  color: #777;
}

.order-procedure .procedure-card {
  width: 50%;
  background-color: white;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.order-procedure .procedure__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.order-procedure .procedure__count {
  font-size: 32px;
  margin-right: 15px;
  color: #777;
  margin-bottom: 20px;
}
.order-procedure .procedure__title {
  font-size: 24px;
  margin-bottom: 20px;
}
.order-procedure .procedure__descritption {
  font-size: 18px;
  color: black;
  margin-bottom: 0;
}

.list-information__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-information__item {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 15px;
}
.list-information__label {
  width: 200px;
}
.list-information--stripe .list-information__item {
  background-color: #f6f6f4;
}

header .top-header {
  padding: 6px 0;
  background-color: #f6f6f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .top-header .column-start .social-media__list {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .top-header .column-start .social-media__link {
  display: inline-block;
  color: #777;
  font-size: 18px;
  margin-right: 20px;
}
header .top-header .column-start .social-media__link:hover {
  color: black;
}
header .top-header .column-center {
  width: 40%;
}
@media (max-width: 768px) {
  header .top-header .column-center {
    width: 100%;
  }
}
header .top-header .column-center .top-offer__banner {
  text-align: center;
}
header .top-header .column-center .top-offer__text {
  color: #eb7700;
  margin-bottom: 0;
}
header .top-header .column-end .quick-link__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .top-header .column-end .quick-link__link {
  font-size: 14px;
  color: #a00a0b;
  text-decoration: none;
  margin-left: 20px;
}
header .top-header .column-end .quick-link__link:hover {
  text-decoration: underline;
}
header .bottom-header .column-start .brand-logo {
  display: inline-block;
  margin-right: 20px;
}
header .bottom-header .column-start .brand-logo__image {
  height: 55px;
  width: auto;
}
header .bottom-header .column-center .main-nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
header .bottom-header .column-center .main-nav__item.dropdown {
  position: static !important;
}
header .bottom-header .column-center .main-nav__item.dropdown:hover .dropdown-menu {
  display: block;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu__title {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu {
  background-color: white;
  padding: 20px;
  width: 100%;
  left: 0 !important;
  top: 100% !important;
  border: 0;
  border-radius: 0px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  transform: translate(0, 0) !important;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu .col-md-3:nth-child(n) {
  border-right: 1px solid rgba(0, 0, 0, 0.075);
}
header .bottom-header .column-center .main-nav__item .dropdown-menu .col-md-3:last-child {
  border-right: 0;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu .dropdown-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu .dropdown-menu__list .dropdown-item {
  display: inline-block;
  font-size: 16px;
  width: auto;
  color: #777;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu .dropdown-menu__list .dropdown-item:hover {
  background-color: #f6f6f4;
  color: #a00a0b;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu__link {
  margin-top: 15px;
  color: #a00a0b;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu__link i {
  margin-left: 5px;
  font-size: 13px;
}
header .bottom-header .column-center .main-nav__item .dropdown-menu__link:hover {
  text-decoration: underline;
}
header .bottom-header .column-center .main-nav__link {
  display: inline-block;
  font-size: 18px;
  color: black;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 600;
  padding: 30px 0;
}
header .bottom-header .column-center .main-nav__link i {
  font-size: 13px;
}
header .bottom-header .column-center .main-nav__link:hover {
  color: #a00a0b;
}
header .bottom-header .column-end .icon-menu__list {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0;
  padding: 0;
  list-style: none;
}
header .bottom-header .column-end .icon-menu__link {
  font-size: 24px;
  color: black;
  text-decoration: none;
  margin-left: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
header .bottom-header .column-end .icon-menu__link .cart-count {
  position: absolute;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #a00a0b;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: 400;
  top: -12px;
  right: -12px;
}
header .bottom-header .column-end .icon-menu__link::after {
  display: none;
  position: absolute;
  content: "";
  z-index: -1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f6f6f4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .bottom-header .column-end .icon-menu__link:hover {
  color: #a00a0b;
}
header .bottom-header .column-end .icon-menu__link:hover::after {
  display: block;
}

.offcanvas.mobile-menu {
  height: 100vh;
  overflow-y: auto;
}
.offcanvas.mobile-menu .brand-logo img {
  height: 45px;
}
.offcanvas.mobile-menu .main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.offcanvas.mobile-menu .main-nav__link {
  display: inline-block;
  font-size: 14px;
  color: black;
  text-decoration: none;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0;
}
.offcanvas.mobile-menu .main-nav__link:hover {
  color: #a00a0b;
}
.offcanvas.mobile-menu .mob-dropdown-menu {
  display: none;
}
.offcanvas.mobile-menu .mob-dropdown-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.offcanvas.mobile-menu .mob-dropdown-menu__link {
  margin-top: 5px;
  color: #a00a0b;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.offcanvas.mobile-menu .mob-dropdown-menu__link i {
  margin-left: 5px;
  font-size: 13px;
}
.offcanvas.mobile-menu .mob-dropdown-menu__link:hover {
  text-decoration: underline;
}
.offcanvas.mobile-menu .mob-dropdown-menu__title {
  font-size: 14px;
}
.offcanvas.mobile-menu .dropdown-item {
  display: inline-block;
  font-size: 16px;
  width: auto;
  padding: 0;
  color: #777;
}
.offcanvas.mobile-menu .dropdown-item:hover {
  background-color: #f6f6f4;
  color: #a00a0b;
}

footer {
  background-color: #3d4191;
}
footer .top-footer {
  padding: 30px 0;
}
footer .top-footer .owner-profile {
  padding: 15px;
  border-radius: 0px;
}
footer .top-footer .owner-profile__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
footer .top-footer .owner-profile__name {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}
footer .top-footer .owner-profile__position {
  font-size: 18px;
  margin-bottom: 20;
  color: #f6f6f4;
}
footer .top-footer .footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .top-footer .footer-nav__title {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 30px;
}
footer .top-footer .footer-nav__link {
  color: #f6f6f4;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 15px;
}
footer .top-footer .footer-nav__link:hover {
  color: #ffffff;
  text-decoration: underline;
}
footer .top-footer .footer-nav__link i {
  margin-right: 5px;
}
footer .top-footer .footer-nav__description {
  color: white;
  margin-bottom: 15px;
}
footer .top-footer .newsletter-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .top-footer .newsletter-form input {
  width: 100%;
  margin-right: 10px;
}
footer .bottom-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px 0;
}
footer .bottom-footer .copyright-text {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  color: #f6f6f4;
  margin-bottom: 0;
}

section.testimonial-section {
  padding: 48px 0 96px 0;
  background-color: #f6f6f4;
}
section.testimonial-section .testimonial__title {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}
section.testimonial-section .testimonial__description {
  color: black;
  margin-bottom: 40px;
}
section.testimonial-section .testimony-profile__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 15px;
}
section.testimonial-section .testimony-profile__name {
  font-size: 18px;
  margin-bottom: 5px;
}
section.testimonial-section .testimony-profile__position {
  font-size: 16px;
  color: #777;
  margin-bottom: 0;
}
section.testimonial-section .slick-arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #777;
  top: 110%;
}
section.testimonial-section .slick-arrow::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: black;
}
section.testimonial-section .slick-arrow.slick-prev {
  content: "\f054";
  left: 85%;
}
section.testimonial-section .slick-arrow.slick-next {
  content: "\f053";
  right: 0%;
}
section.testimonial-section .slick-arrow:hover::before {
  color: #a00a0b;
}
section.testimonial-section .slick-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

section.partner-section .partner-company__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.partner-section .partner-company__item {
  display: block;
  padding: 0 30px;
}
section.partner-section .partner-company__item img {
  width: 125px;
  height: auto;
}

.section-banner {
  padding: 64px 0;
  position: relative;
}
.section-banner__title {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 20px;
}
.section-banner__description {
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 600;
}
.section-banner .contact-card {
  background-color: #ffffff;
  border-radius: 0px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 100%;
  position: relative;
}
.section-banner .contact-card::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid #f6f6f4;
  left: 5px;
  bottom: -5px;
}
.section-banner .contact-card .contact__label {
  font-size: 18px;
  color: black;
}
.section-banner .contact-card .contact__text {
  font-size: 18px;
  margin-bottom: 0;
}

.breadcrumb-section {
  padding: 20px 0;
  background-color: #f6f6f4;
}
.breadcrumb-section .breadcrumb__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumb-section .breadcrumb__item:nth-child(n)::after {
  content: ">";
  padding: 0 8px;
  color: #777;
}
.breadcrumb-section .breadcrumb__item:last-child::after {
  content: "";
  display: none;
}
.breadcrumb-section .breadcrumb__link {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}
.breadcrumb-section .breadcrumb__link:hover {
  color: #a00a0b;
}
.breadcrumb-section .breadcrumb__link.is-active {
  color: #777;
}

section {
  padding: 48px 0;
}
section.banner-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}

section.best-deal-section {
  padding: 90px 0;
  background-color: #f6f6f4;
  position: relative;
}
section.best-deal-section .best-deal__subtitle {
  font-size: 18px;
  color: #a00a0b;
  margin-bottom: 20px;
  font-weight: 600;
}
section.best-deal-section .best-deal__title {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}
section.best-deal-section .best-deal__description {
  color: black;
  margin-bottom: 20px;
}
section.best-deal-section .best-deal__image {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.product-detail .product-thumbnail__list {
  max-width: 120px;
  margin-right: 20px !important;
  flex-shrink: 0;
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}
.product-detail .product-thumbnail__list::-webkit-scrollbar {
  width: 2px;
}
.product-detail .product-thumbnail__list::-webkit-scrollbar-track {
  background-color: #f6f6f4;
}
.product-detail .product-thumbnail__list .slick-list {
  padding: 0 !important;
}
.product-detail .product-thumbnail__list .slick-track {
  transform: none !important;
}
.product-detail .product-thumbnail__image {
  width: 100px !important;
  height: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.product-detail .product-slider__list {
  width: 100%;
  overflow: hidden;
}
.product-detail .product-slider__image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.product-detail .product__name {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}
.product-detail .product__description {
  font-size: 18px;
  color: black;
  margin-bottom: 0;
}
.product-detail .product__price {
  margin-bottom: 20px;
}
.product-detail .product__price .actual__price {
  font-size: 24px;
  color: #a00a0b;
}
.product-detail .product__price .marked__price {
  font-size: 18px;
  color: #777;
  text-decoration: line-through;
}
.product-detail .product-size {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.product-detail .product-size__title {
  font-size: 18px;
  margin-bottom: 15px;
}
.product-detail .product-size__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.product-detail .product-size__item {
  display: inline-block;
}
.product-detail .product-size__item input {
  display: none;
}
.product-detail .product-size__item input:checked ~ label {
  border-color: #a00a0b;
  color: #a00a0b;
}
.product-detail .product-size__item label {
  background-color: white;
  height: 50px;
  font-size: 18px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.075);
  cursor: pointer;
  font-weight: 600;
}
.product-detail .product-size__item label:hover {
  border-color: #a00a0b;
  color: #a00a0b;
}
.product-detail .action-buttons {
  margin-right: 20px;
}
.product-detail .action-buttons form {
  display: flex;
  align-items: center;
  justify-content: start;
}
.product-detail .action-buttons form .form-control {
  width: 120px;
  text-align: center;
  padding: 0 40px;
}
.product-detail .action-buttons form .action-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.product-detail .action-buttons form .minus--button {
  left: 0;
}
.product-detail .action-buttons form .plus--button {
  right: 0;
}
.product-detail .product-organization {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.075);
}
.product-detail .product-organization__list {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}
.product-detail .product-organization__list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.product-detail .product-organization__label {
  font-size: 18px;
  color: black;
}
.product-detail .product-organization__text {
  font-size: 18px;
  color: #777;
  margin-left: 5px;
}
.product-detail .product-organization__social__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.product-detail .product-organization__social__item {
  margin-bottom: 0 !important;
}
.product-detail .product-organization__social__link {
  display: inline-block;
  color: #777;
  margin-left: 10px;
}
.product-detail .product-organization__social__link:hover {
  color: #a00a0b;
}

.product-more-info__tabs-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}
.product-more-info__tabs-item {
  display: inline-block;
  text-decoration: none;
  color: #777;
  margin: 0 15px;
  font-weight: 600;
  font-size: 24px;
}
.product-more-info__tabs-item.active {
  color: black;
  text-decoration: underline;
}
.product-more-info__tabs-item:hover {
  color: black;
}
.product-more-info__tabs-content {
  display: none;
}
.product-more-info__tabs-content.show {
  display: block;
}
.product-more-info .return-policy__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.product-more-info .return-policy__list li {
  margin-bottom: 10px;
}
.product-more-info .reviews__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.product-more-info .reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-more-info .reviews__list li {
  margin-bottom: 30px;
}
.product-more-info .reviews__item {
  display: flex;
}
.product-more-info .reviews .reviewer__image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin-right: 30px;
}
.product-more-info .reviews .reviewer__name {
  font-size: 24px;
  margin-bottom: 10px;
}
.product-more-info .reviews .review__date {
  color: #777;
  font-size: 18px;
  margin-bottom: 20px;
}
.product-more-info .reviews .review__content {
  font-size: 18px;
  color: black;
  margin-bottom: 0;
}
.product-more-info .reviews .review__stars i {
  font-size: 18px;
  color: #777;
}
.product-more-info .reviews .review__stars i.is-active {
  color: #eb7700;
}

.about-company .company__image {
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.about-company .company-detail__title {
  font-size: 32px;
  color: black;
  margin-bottom: 20px;
}
.about-company .company-detail__description {
  font-size: 18px;
  color: black;
  margin-bottom: 0;
}

.company-goal {
  padding: 64px 0;
  background-color: #f6f6f4;
}
.company-goal__item.bg--light {
  background-color: #f6f6f4;
}
.company-goal__icon {
  height: 64px;
  margin-bottom: 20px;
}
.company-goal__title {
  font-size: 24px;
  color: black;
  margin-bottom: 15px;
}
.company-goal__description {
  font-size: 18px;
  color: black;
  margin-bottom: 0;
}

.owner-information {
  padding: 64px 0;
  background-color: #777;
}
.owner-information .owner__profile {
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.owner-information .owner__detail {
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 90%;
  transform: translateX(-50%);
  background-color: white;
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  padding: 10px;
}
.owner-information .owner__name {
  font-size: 24px;
  color: black;
  margin-bottom: 3px;
}
.owner-information .owner__position {
  font-size: 18px;
  color: #777;
  margin-bottom: 0px;
}
.owner-information .owner__socialmedia__list {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.owner-information .owner__socialmedia__link {
  color: #f6f6f4;
  display: inline-block;
  font-size: 25px;
  margin: 0 5px;
  line-height: 0;
}
.owner-information .owner__socialmedia__link:hover {
  color: #a00a0b;
}

.faq__subtitle {
  font-size: 24px;
  color: #a00a0b;
  margin-bottom: 40px;
}
.faq__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.faq__item {
  padding: 20px 0;
}
.faq__item:nth-child(n) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.faq__item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq__question i {
  font-size: 18px;
}
.faq__title {
  font-size: 24px;
  margin-bottom: 0;
}
.faq__answer {
  margin-bottom: 0;
  margin-top: 20px;
}
.faq__content {
  display: none;
}

.link-category__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-category__name {
  display: inline-block;
  margin-bottom: 15px;
}
.link-category__name h3 {
  color: #a00a0b;
  font-size: 18px;
}
.link-category__name h3:hover {
  text-decoration: underline;
}

.job-section .job__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.job-section .job__item:nth-child(n) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.job-section .job__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.job-section .job__title {
  font-size: 24px;
  color: black;
  margin-bottom: 10px;
}
.job-section .job__date {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}
.job-section .job__subitem {
  margin-bottom: 30px;
}
.job-section .job__subitem__title {
  font-size: 18px;
  color: black;
  margin-bottom: 15px;
}
.job-section .job__description {
  font-size: 18px;
  color: black;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .search-result__form {
    padding-bottom: 30px;
    display: block;
  }
  .search-result__title {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
  }
  .list-information__item {
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  .list-information__label {
    width: 100px;
  }
  .breadcrumb-section {
    padding: 10px 0;
  }
  .breadcrumb-section .breadcrumb__item {
    display: flex;
    align-items: center;
  }
  .breadcrumb-section .breadcrumb__item:nth-child(n)::after {
    content: ">";
    padding: 0 4px;
  }
  .breadcrumb-section .breadcrumb__link {
    font-size: 16px;
  }
  .breadcrumb-section .breadcrumb__link.is-active {
    display: inline-block;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .button {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
  }
  .button--red {
    background-color: #a00a0b;
    border: 1px solid #a00a0b;
    color: white;
  }
  .button i {
    font-size: 16px;
    margin-left: 10px;
  }
  .button:hover {
    color: #a00a0b;
    background-color: transparent;
    border-color: #a00a0b;
  }
  .button--square {
    width: 40px;
    padding: 0 !important;
    flex-shrink: 0;
    border-radius: 0px;
  }
  .button--square i {
    margin: 0;
    padding: 0;
  }
  .form-control {
    min-height: 40px;
    height: 40px;
  }
  .form-control::placeholder {
    font-size: 16px;
  }
  .section-heading {
    margin-bottom: 20px;
  }
  .section-heading__title {
    font-size: 20px;
  }
  .section-heading__link {
    white-space: nowrap;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  .section-heading__link i {
    font-size: 13px;
    margin-left: 5px;
  }
  .section-heading__sub--title {
    font-size: 16px;
  }
  .collection-card {
    margin-bottom: 60px;
  }
  .collection-card__image {
    height: 200px;
  }
  .collection-card__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .collection-card__count {
    font-size: 16px;
    color: #777;
    margin-bottom: 0;
  }
  .collection-card:hover .collection-card__title {
    color: #a00a0b;
  }
  .product-card {
    margin-bottom: 25px;
  }
  .product-card__image {
    height: 250px;
    margin-bottom: 10px;
  }
  .product-card__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .product-card__price {
    margin-bottom: 0;
  }
  .product-card__price .actual-price {
    font-size: 16px;
  }
  .product-card__price .marked-price {
    font-size: 13px;
  }
  .blog-card__image {
    height: 200px;
    width: 100%;
    border-radius: 0px;
    display: block;
  }
  .blog-card__detail {
    padding: 15px;
  }
  .blog-card__date {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .blog-card__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .blog-card__link {
    font-size: 16px;
  }
  .blog-card__link i {
    font-size: 11px;
  }
  .service-section {
    margin: 0px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  }
  .service-section .service-item {
    margin-bottom: 20px;
    display: flex;
  }
  .service-section .service-item__image {
    flex-shrink: 0;
  }
  .service-section .service-item__image img {
    height: 40px;
    width: 40px;
  }
  .service-section .service-item__title {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .service-section .service-item__description {
    font-size: 16px;
  }
  .square--arrows .slick-arrow {
    height: 35px;
    width: 35px;
  }
  .search-modal .container {
    padding: 0;
  }
  .search-modal__header .section-heading__title {
    padding-right: 40px;
  }
  .search-modal__header .modal-close__button {
    height: 35px;
    width: 35px;
    right: 15px;
    top: 15px;
  }
  .search-modal__form {
    margin-bottom: 30px;
  }
  .search-modal__form button {
    padding: 0;
    width: 40px;
    flex-shrink: 0;
  }
  .search-modal__form button i {
    margin-left: 0;
  }
  .search-modal .trending-keywords {
    margin-bottom: 40px;
  }
  .search-modal .trending-keywords__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .search-modal .trending-keywords__link {
    padding: 5px 10px;
    font-size: 16px;
    margin-right: 5px;
  }
  .search-modal .trending-keywords__link i {
    font-size: 13px;
    margin-right: 5px;
  }
  header .top-header {
    padding: 10px 0;
  }
  header .top-header .column-center {
    width: 100%;
  }
  header .top-header .column-center .top-offer__text {
    font-size: 16px;
  }
  header .top-header .column-end .quick-link__link {
    font-size: 16px;
  }
  header .bottom-header {
    padding: 10px 0;
  }
  header .bottom-header .column-start .brand-logo {
    display: inline-block;
    margin-right: 10px;
  }
  header .bottom-header .column-start .brand-logo__image {
    height: 35px;
    width: auto;
  }
  header .bottom-header .column-end .icon-menu__link {
    font-size: 18px;
    margin-left: 15px;
  }
  header .bottom-header .column-end .icon-menu__link .cart-count {
    height: 18px;
    width: 18px;
    font-size: 12px;
    top: -10px;
    right: -10px;
  }
  header .bottom-header .column-end .icon-menu__link::after {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  section {
    padding: 30px 0;
  }
  section.banner-section {
    height: 45vh;
  }
  section.testimonial-section {
    padding: 30px 0 50px 0;
  }
  section.testimonial-section .testimonial__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  section.testimonial-section .testimonial__description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  section.testimonial-section .testimony-profile__image {
    width: 70px;
    height: 70px;
  }
  section.testimonial-section .testimony-profile__name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  section.testimonial-section .testimony-profile__position {
    font-size: 16px;
  }
  section.testimonial-section .slick-arrow {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 100%;
  }
  section.testimonial-section .slick-arrow.slick-prev {
    left: 65%;
  }
  section.testimonial-section .slick-arrow.slick-next {
    right: 0%;
  }
  section.testimonial-section .slick-arrow:hover::before {
    color: #a00a0b;
  }
  footer .top-footer {
    padding: 20px 0;
  }
  footer .top-footer .owner-profile {
    padding: 0;
    border-radius: 0px;
  }
  footer .top-footer .owner-profile__image {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  footer .top-footer .owner-profile__name {
    font-size: 16px;
    margin-bottom: 5px;
  }
  footer .top-footer .owner-profile__position {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f6f6f4;
  }
  footer .top-footer .footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  footer .top-footer .footer-nav__title {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  footer .top-footer .footer-nav__link {
    margin-bottom: 10px;
    font-size: 16px;
  }
  footer .top-footer .footer-nav__link i {
    margin-right: 5px;
    font-size: 12px;
  }
  footer .top-footer .footer-nav__description {
    font-size: 16px;
    margin-bottom: 5px;
  }
  footer .top-footer .newsletter-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .top-footer .newsletter-form input {
    width: 100%;
    margin-right: 10px;
  }
  footer .bottom-footer {
    padding: 10px 0;
  }
  footer .bottom-footer .copyright-text {
    font-size: 16px;
  }
  section.best-deal-section {
    padding: 40px 0;
    z-index: 1;
  }
  section.best-deal-section .best-deal__subtitle {
    font-size: 16px;
    margin-bottom: 10px;
  }
  section.best-deal-section .best-deal__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  section.best-deal-section .best-deal__description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  section.best-deal-section .best-deal__image {
    z-index: -1;
    opacity: 0.5;
    bottom: 0%;
    top: auto;
    transform: translateY(0%);
  }
  .product-detail {
    padding-bottom: 0;
  }
  .product-detail .product-thumbnail__list {
    max-width: 100% !important;
    margin-right: 0 !important;
    height: auto;
    overflow-y: hidden;
  }
  .product-detail .product-thumbnail__image {
    width: 50px !important;
    height: 50px;
    margin-bottom: 0;
  }
  .product-detail .product-slider__image {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }
  .product-detail .product__name {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
  }
  .product-detail .product__description {
    font-size: 16px;
    color: black;
    margin-bottom: 0;
  }
  .product-detail .product__price {
    margin-bottom: 20px;
  }
  .product-detail .product__price .actual__price {
    font-size: 20px;
    color: #a00a0b;
  }
  .product-detail .product__price .marked__price {
    font-size: 16px;
    color: #777;
    text-decoration: line-through;
  }
  .product-detail .product-size {
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  }
  .product-detail .product-size__title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .product-detail .product-size__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .product-detail .product-size__item {
    display: inline-block;
  }
  .product-detail .product-size__item input {
    display: none;
  }
  .product-detail .product-size__item input:checked ~ label {
    border-color: #a00a0b;
    color: #a00a0b;
  }
  .product-detail .product-size__item label {
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
  }
  .product-detail .action-buttons {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .product-detail .product-organization {
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.075);
  }
  .product-detail .product-organization__label {
    font-size: 16px;
  }
  .product-detail .product-organization__text {
    font-size: 16px;
  }
  .product-more-info {
    padding-top: 0;
  }
  .product-more-info__tabs-nav {
    justify-content: start;
    margin: 0 0 20px 0;
    flex-shrink: 0;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }
  .product-more-info__tabs-item {
    margin: 0 10px;
    font-size: 20px;
  }
  .product-more-info__tabs-content {
    font-size: 16px;
  }
  .product-more-info .return-policy__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .product-more-info .return-policy__list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }
  .product-more-info .return-policy__list li {
    margin-bottom: 10px;
  }
  .product-more-info .reviews__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .product-more-info .reviews__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .product-more-info .reviews__list li {
    margin-bottom: 30px;
  }
  .product-more-info .reviews__item {
    display: block;
  }
  .product-more-info .reviews .reviewer__image {
    width: 50px;
    height: 50px;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .product-more-info .reviews .reviewer__name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .product-more-info .reviews .review__date {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .product-more-info .reviews .review__content {
    font-size: 16px;
    color: black;
    margin-bottom: 0;
  }
  .product-more-info .reviews .review__stars {
    white-space: nowrap;
  }
  .product-more-info .reviews .review__stars i {
    font-size: 16px;
  }
  .main-filter__by {
    margin-bottom: 20px;
  }
  .main-filter__title {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
  }
  .main-filter li:nth-child(n+11) {
    display: none;
  }
  .main-filter__options-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .main-filter__option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .main-filter__option .form-check-input {
    position: relative;
    margin: 0;
    margin-right: 10px;
  }
  .main-filter__option .form-check-input:checked ~ label {
    color: #a00a0b;
  }
  .main-filter__option label {
    font-size: 18px;
    color: black;
    margin-bottom: 0 !important;
  }
  .main-filter__option label .review__stars i {
    font-size: 18px;
    color: #777;
  }
  .main-filter__option label .review__stars i.is-active {
    color: #eb7700;
  }
  .main-filter--price .price-range {
    margin-bottom: 10px;
  }
  .main-filter--price .price-range .start-range {
    color: #a00a0b;
    font-size: 18px;
    font-weight: 600;
  }
  .main-filter--price .price-range .end-range {
    color: #a00a0b;
    font-size: 18px;
    font-weight: 600;
  }
  .product-list__item .product__image {
    height: 250px;
    margin-bottom: 10px;
  }
  .product-list__item .product__name {
    font-size: 18px;
  }
  .product-list__item .product__price {
    margin-bottom: 10px;
  }
  .product-list__item .product__price .actual__price {
    font-size: 18px;
  }
  .product-list__item .product__price .marked__price {
    font-size: 16px;
  }
  .product-list__item .product__description {
    font-size: 16px;
  }
  .product-list__item .product__review {
    margin-bottom: 10px;
  }
  .product-list__item .product__review .review__stars i {
    font-size: 16px;
  }
  .product-list__item .product__review .review__count {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */