@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

// font-family: "Josefin Sans", sans-serif;
// font-family: 'Yeseva One', cursive;
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: $font-md-size;
  color: black;
  font-weight: 400;
  line-height: 1.5;
}
.img__fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.bg-property {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
