.product-card {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 48px;
  &__image {
    height: 340px;
    width: 100%;
    display: block;
    border-radius: $border-radius;
    margin-bottom: 20px;
    border: 1px solid rgba($color: $red-color, $alpha: 0.2);
    padding: 5px;
    transition: $transition;
    &:hover {
      padding: 0;
      border-color: transparent;
    }
  }
  &__title {
    font-size: 20px;
    color: $black-color;
    margin-bottom: 15px;
    &:hover {
      color: $red-color;
    }
  }
  &__price {
    margin-bottom: 0;
    .actual-price {
      color: $red-color;
      font-weight: 600;
    }
    .marked-price {
      color: $black-70-color;
      font-size: 15px;
      text-decoration: line-through;
    }
  }
  &__offer-badge {
    position: absolute;
    padding: 10px 15px;
    line-height: 1;
    font-size: $font-md-size;
    color: $white-color;
    background-color: $red-color;
    top: 5px;
    right: 5px;
    text-transform: uppercase;
  }
}
