$mobile: 768px;
$tab: 1024px;
$web: 1280px;

@media (max-width: $mobile) {
  // $font-lg-size: 20px;
  //   components

  .sticky__bottom {
    &.checkout-button {
      display: flex;
    }
  }

  .search-result {
    &__form {
      padding-bottom: 30px;
      display: block;
    }
    &__title {
      font-size: $font-md-size;
      color: $black-color;
      margin-bottom: 10px;
    }
  }
  .list-information {
    &__item {
      padding: 10px 15px;
      font-size: $font-md-size;
      margin-bottom: 15px;
    }
    &__label {
      width: 100px;
    }
  }
  .breadcrumb-section {
    padding: 10px 0;
    .breadcrumb {
      &__item {
        display: flex;
        align-items: center;
        &:nth-child(n)::after {
          content: ">";
          padding: 0 4px;
        }
      }
      &__link {
        font-size: $font-md-size;
        &.is-active {
          display: inline-block;
          width: 150px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }

  .button {
    height: 40px;
    padding: 0 20px;
    font-size: $font-md-size;

    s i {
      font-size: $font-md-size;
      margin-left: 10px;
    }
    &--square {
      width: 40px;
    }
  }
  .button-outline {
    height: 40px;
    padding: 0 20px;
    font-size: $font-md-size;
    i {
      font-size: $font-md-size;
      margin-left: 10px;
    }

    &--square {
      width: 40px;
    }
  }
  .form-control {
    min-height: 40px;
    // height: 40px;
    &::placeholder {
      font-size: $font-md-size;
    }
  }
  .section-heading {
    margin-bottom: 20px;
    &__title {
      font-size: $font-lg-size;
    }
    &__link {
      white-space: nowrap;
      font-size: $font-md-size;
      display: flex;
      align-items: center;

      i {
        font-size: 13px;
        margin-left: 5px;
      }
    }
    &__sub--title {
      font-size: $font-md-size;
    }
  }
  .collection-card {
    margin-bottom: 60px;

    &__image {
      height: 200px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__count {
      font-size: $font-md-size;
      color: $black-70-color;
      margin-bottom: 0;
    }
    &:hover {
      .collection-card__title {
        color: $red-color;
      }
    }
  }
  .product-card {
    margin-bottom: 25px;
    &__image {
      height: 250px;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 5px;
    }
    &__price {
      margin-bottom: 0;
      .actual-price {
        font-size: $font-md-size;
      }
      .marked-price {
        font-size: 13px;
      }
    }
  }
  .blog-card {
    &__image {
      height: 200px;
      width: 100%;
      border-radius: $border-radius;
      display: block;
    }
    &__detail {
      padding: 15px;
    }
    &__date {
      font-size: $font-md-size;
      margin-bottom: 5px;
    }
    &__title {
      font-size: 16px;
      margin-bottom: 10px;
    }
    &__link {
      font-size: $font-md-size;
      i {
        font-size: 11px;
      }
    }
  }
  .order-procedure {
    .procedure-card {
      width: 100%;
    }
  }

  .service-section {
    margin: 0px 0 0 0;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.075);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.075);
    .service-item {
      margin-bottom: 20px;
      display: flex;
      &__image {
        flex-shrink: 0;
        img {
          height: 40px;
          width: 40px;
        }
      }
      &__title {
        font-family: $yeseva-font;
        font-size: $font-md-size;
        margin-bottom: 5px;
        font-weight: 400;
      }
      &__description {
        font-size: $font-md-size;
      }
    }
  }
  .square {
    &--arrows {
      .slick-arrow {
        height: 45px;
        width: 45px;
      }
    }
  }
  .search-modal {
    .container {
      padding: 0;
    }
    &__header {
      .section-heading__title {
        padding-right: 40px;
      }
      .modal-close {
        &__button {
          height: 35px;
          width: 35px;
          right: 15px;
          top: 15px;
        }
      }
    }

    &__form {
      margin-bottom: 30px;
      button {
        padding: 0;
        width: 40px;
        flex-shrink: 0;
        i {
          margin-left: 0;
        }
      }
    }
    .trending-keywords {
      margin-bottom: 40px;
      &__list {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
      }
      &__item {
      }
      &__link {
        padding: 5px 10px;
        font-size: $font-md-size;
        margin-right: 5px;
        i {
          font-size: 13px;
          margin-right: 5px;
        }
      }
    }
  }

  // layouts
  header {
    .top-header {
      padding: 10px 0;

      .column-center {
        width: 100%;
        .top-offer {
          &__text {
            font-size: $font-md-size;
          }
        }
      }
      .column-end {
        .quick-link {
          &__link {
            font-size: $font-md-size;
          }
        }
      }
    }
    .bottom-header {
      padding: 10px 0;
      .column-start {
        .brand-logo {
          display: inline-block;
          margin-right: 10px;
          &__image {
            height: 35px;
            width: auto;
          }
        }
      }

      .column-end {
        .icon-menu {
          &__link {
            font-size: $font-lg-size;
            margin-left: 20px;
            .cart-count {
              height: 18px;
              width: 18px;
              font-size: 12px;
              top: -10px;
              right: -10px;
            }
            &::after {
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  section {
    padding: 30px 0;
    &.banner-section {
      height: 45vh;
    }
  }
  section {
    &.testimonial-section {
      padding: 30px 0 50px 0;
      .testimonial {
        &__title {
          font-size: $font-lg-size;
          margin-bottom: 10px;
        }
        &__description {
          font-size: $font-md-size;
          margin-bottom: 40px;
        }
      }
      .testimony-profile {
        &__image {
          width: 70px;
          height: 70px;
        }
        &__name {
          font-size: 16px;
          margin-bottom: 5px;
        }
        &__position {
          font-size: $font-md-size;
        }
      }
      .slick-arrow {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        top: 100%;
        &.slick-prev {
          left: 72%;
        }
        &.slick-next {
          right: 0%;
        }
        &:hover {
          &::before {
            color: $red-color;
          }
        }
      }
    }
  }
  footer {
    .top-footer {
      padding: 20px 0;
      .owner {
        &-profile {
          padding: 0;
          border-radius: $border-radius;
          &__image {
            height: 65px;
            width: 65px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 10px;
          }
          &__name {
            font-size: 16px;
            margin-bottom: 5px;
          }
          &__position {
            font-size: $font-md-size;
            margin-bottom: 10px;
            color: $light-white-color;
          }
        }
      }
      .footer-nav {
        list-style: none;
        padding: 0;
        margin: 0;

        &__title {
          font-size: $font-md-size;
          color: $white-color;
          margin-bottom: 10px;
        }

        &__link {
          margin-bottom: 10px;
          font-size: $font-md-size;
          i {
            margin-right: 5px;
            font-size: 12px;
          }
        }
        &__description {
          font-size: $font-md-size;
          margin-bottom: 5px;
        }
      }
      .newsletter-form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
          width: 100%;
          margin-right: 10px;
        }
      }
    }
    .bottom-footer {
      padding: 10px 0;
      .copyright-text {
        font-size: $font-md-size;
      }
    }
  }

  // section banner
  .section-banner {
    &__title {
      font-size: $font-lg-size;
    }
    &__description {
      font-weight: 400;
    }
    .contact-card {
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border: 2px solid $light-white-color;
        left: 5px;
        bottom: -5px;
      }
      .contact {
        &__label {
          font-size: $font-md-size;
          color: $black-color;
        }
        &__text {
          font-size: $font-md-size;
          // color: $black-70-color;
          margin-bottom: 0;
        }
      }
    }
  }

  //   pages

  // homepage
  section {
    &.best-deal-section {
      padding: 40px 0;
      z-index: 1;
      .best-deal {
        &__subtitle {
          font-size: $font-md-size;
          margin-bottom: 10px;
        }
        &__title {
          font-size: $font-lg-size;
          margin-bottom: 10px;
        }
        &__description {
          font-size: $font-md-size;
          margin-bottom: 20px;
        }
        &__image {
          z-index: -1;
          opacity: 0.5;
          bottom: 0%;
          top: auto;
          transform: translateY(0%);
        }
      }
    }
  }

  // product page
  .product-detail {
    padding-bottom: 0;
    .product-thumbnail {
      &__list {
        display: none;
      }
      &__image {
        width: 50px !important;
        height: 50px;
        margin-bottom: 0;
      }
    }
    .product-slider {
      &__image {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
      }
    }
    .product {
      &__name {
        font-size: $font-lg-size;
        color: $black-color;
        margin-bottom: 20px;
      }
      &__description {
        font-size: $font-md-size;
        color: $black-color;
        margin-bottom: 0;
      }
      &__price {
        margin-bottom: 20px;
        .actual__price {
          font-size: $font-lg-size;
          color: $red-color;
        }
        .marked__price {
          font-size: $font-md-size;
          color: $black-70-color;
          text-decoration: line-through;
        }
      }
    }
    .product-size {
      padding: 20px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.075);
      &__title {
        font-size: $font-md-size;
        margin-bottom: 15px;
      }
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      &__item {
        display: inline-block;
        input {
          display: none;
          &:checked ~ label {
            border-color: $red-color;
            color: $red-color;
          }
        }
        label {
          height: 40px;
          font-size: $font-md-size;
          padding: 0 20px;
        }
      }
    }
    .action-buttons {
      margin-right: 0;
      margin-bottom: 15px;
    }
    .product-organization {
      margin-top: 20px;
      border-top: 1px solid rgba($color: #000000, $alpha: 0.075);
      &__label {
        font-size: $font-md-size;
      }
      &__text {
        font-size: $font-md-size;
      }
    }
  }
  .product-more-info {
    padding-top: 0;
    &__tabs-nav {
      justify-content: start;
      margin: 0 0 20px 0;
      flex-shrink: 0;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: auto;
    }
    &__tabs-item {
      margin: 0 10px;
      font-size: $font-lg-size;
    }
    &__tabs-content {
      font-size: $font-md-size;
    }
    .return-policy {
      &__title {
        font-size: $font-lg-size;
        font-weight: 600;
        margin-bottom: 20px;
      }
      &__list {
        margin: 0;
        padding: 0;
        list-style-position: inside;
        li {
          margin-bottom: 10px;
        }
      }
    }
    .reviews {
      &__title {
        font-size: $font-lg-size;
        font-weight: 600;
        margin-bottom: 20px;
      }
      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-bottom: 30px;
        }
      }
      &__item {
        display: block;
      }
      .reviewer {
        &__image {
          width: 50px;
          height: 50px;
          margin-right: 0;
          margin-bottom: 10px;
        }
        &__name {
          font-size: $font-md-size;
          margin-bottom: 5px;
        }
      }
      .review {
        &__date {
          font-size: $font-md-size;
          margin-bottom: 10px;
        }
        &__content {
          font-size: $font-md-size;
          color: $black-color;
          margin-bottom: 0;
        }
        &__stars {
          white-space: nowrap;
          i {
            font-size: $font-md-size;
          }
        }
      }
    }
  }

  //collection page

  .main-filter {
    &__by {
      margin-bottom: 20px;
    }
    &__title {
      font-size: $font-lg-size;
      color: $black-color;
      margin-bottom: 10px;
    }
    li:nth-child(n + 11) {
      display: none;
    }
    &__options-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__option {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      .form-check-input {
        position: relative;
        margin: 0;
        margin-right: 10px;
        &:checked ~ label {
          color: $red-color;
        }
      }
      label {
        font-size: 18px;
        color: $black-color;
        margin-bottom: 0 !important;
        .review__stars {
          i {
            font-size: $font-md-size;
            color: $black-70-color;
            &.is-active {
              color: $yellow-color;
            }
          }
        }
      }
    }
    &--price {
      .price-range {
        margin-bottom: 10px;
        .start-range {
          color: $red-color;
          font-size: $font-md-size;
          font-weight: 600;
        }
        .end-range {
          color: $red-color;
          font-size: $font-md-size;
          font-weight: 600;
        }
      }
    }
  }

  // product list
  .product-list {
    &__item {
      .product {
        &__image {
          height: 250px;
          margin-bottom: 10px;
        }
        &__name {
          font-size: $font-md-size;
        }
        &__price {
          margin-bottom: 10px;
          .actual__price {
            font-size: $font-md-size;
          }
          .marked__price {
            font-size: $font-md-size;
          }
        }
        &__description {
          font-size: $font-md-size;
        }
        &__review {
          margin-bottom: 10px;
          .review {
            &__stars {
              i {
                font-size: $font-md-size;
              }
            }
            &__count {
              font-size: $font-md-size;
            }
          }
        }
      }
    }
  }

  // about us
  .about-company {
    .company__image {
      height: auto;
      margin-bottom: 20px;
    }
    .company-detail {
      &__title {
        font-size: $font-lg-size;
        margin-bottom: 20px;
      }
    }
  }
  .owner-information {
    padding: 20px 0;
    .owner {
      &__profile {
        height: auto;
        margin-bottom: 60px;
      }
    }
  }
  .company-goal {
    &__icon {
      margin-bottom: 10px;
    }
  }
  // faqs page

  .faq {
    &__subtitle {
      margin-bottom: 20px;
    }
    &__item {
      padding: 15px 0;
    }

    &__question {
      i {
        font-size: $font-md-size;
      }
    }
    &__title {
      font-size: $font-md-size;
    }
    &__answer {
      margin-top: 10px;
    }
  }
  .link-category {
    &__name {
      margin-bottom: 5px;
    }
  }

  // blogs category
  .blog-detail {
    &__title {
      font-size: $font-lg-size;
    }

    .recent-blog {
      &__image {
        width: 100px;
        height: 60px;
      }
    }
  }

  //checkout page

  .checkout-section {
    border-top: none;
    background-image: linear-gradient(
      to right,
      $white-color 52.5%,
      $white-color 46.5%
    );
    .product-checkout-detail {
      .product {
        &__name {
          font-size: $font-lg-size;
          color: $black-color;
          margin-bottom: 10px;
        }
        &__description {
          font-size: $font-md-size;
          color: $black-color;
          margin-bottom: 0;
        }
        &__price {
          display: flex;
          .actual__price {
            font-size: $font-md-size;
          }
          .marked__price {
            font-size: $font-sm-size;
          }
        }

        &__image {
          height: auto;
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .product-size__list {
      display: block;
      .size__box {
        margin-bottom: 15px;
        cursor: pointer;
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid $light-red-color;
        background-color: $white-color;
        .check-icon {
          height: 20px;
          width: 20px;
          flex-shrink: 0;
          border: 1px solid $light-red-color;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            font-size: $font-xs-size;
            color: $light-red-color;
          }
        }
        .size__name {
          font-size: $font-md-size;
          color: $black-color;
          margin-bottom: 0;
        }
        .price__label {
          font-size: $font-sm-size;
          color: $red-color;
          margin-bottom: 0;
        }
        .product__tags {
          font-size: $font-md-size;
          color: $black-70-color;
          margin-bottom: 0;
        }
      }
    }
    .checkout-detail {
      padding: 20px 0;
      border-top: 1px solid rgba($color: #000000, $alpha: 0.075);
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.075);
    }
  }

  // cart page
  .cart-section {
    .cart-table {
      td {
        vertical-align: middle;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .product {
        &__image {
          height: 100px;
          width: 100px;
        }
        &__name {
          font-size: $font-md-size;
          color: $black-color;
          margin-bottom: 10px;
        }
        &__price {
          font-size: $font-md-size;
          margin-bottom: 0;
          color: $black-color;
          white-space: nowrap;
        }
        &__id {
          font-size: $font-sm-size;
        }
      }
    }
    .border-box {
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .price {
        font-size: $font-md-size;
      }
    }
  }
}
