.button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-decoration: none;
  border-radius: $border-radius;
  transition: $transition;
  font-weight: 600;
 font-size: $font-md-size;
  &--red {
    background-color: $red-color;
    border: 1px solid $red-color;
    color: white;
  }
  i {
    font-size: 14px;
    margin-left: 10px;
  }
  &:hover {
    color: $red-color;
    background-color: transparent;
    border-color: $red-color;
  }
  &--square {
    width: 50px;
    padding: 0 !important;
    flex-shrink: 0;
    border-radius: $border-radius;
    i {
      margin: 0;
      padding: 0;
    }
  }
}
