.form-control {
  height: 50px;
  border-radius: $border-radius;
  background-color: white;
  outline: 0;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  box-shadow: none !important;
 font-size: $font-md-size;
  &::placeholder {
    color: $black-70-color;
  }
  &:focus {
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
  }
}
