.list-information {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 15px;
  }
  &__label {
    width: 200px;
    margin-right: 15px;
  }
  &--stripe {
    .list-information__item {
      background-color: $light-white-color;
    }
  }
}
