.main-filter {
  &__wrapper {
  }
  &__by {
    margin-bottom: 30px;
  }
  &__title {
    font-size: $font-lg-size;
    color: $black-color;
    margin-bottom: 20px;
  }
  &__options-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    .form-check-input {
      position: relative;
      margin: 0;
      margin-right: 10px;
      &:checked ~ label {
        color: $red-color;
      }
    }
    label {
      font-size: 18px;
      color: $black-color;
      .review__stars {
        i {
          font-size: $font-md-size;
          color: $black-70-color;
          &.is-active {
            color: $yellow-color;
          }
        }
      }
    }
  }
  &--price {
    .price-range {
      margin-bottom: 10px;
      .start-range {
        color: $red-color;
        font-size: $font-md-size;
        font-weight: 600;
      }
      .end-range {
        color: $red-color;
        font-size: $font-md-size;
        font-weight: 600;
      }
    }
  }
}
